<header class="hc1" data-state="" id="SITE_HEADER"	style="width: 980px; top: 0px; height: 170px; left: 0px;">


	<div id="SITE_HEADERcenteredContent" class="hc1centeredContent">
		<div id="SITE_HEADERbg" class="hc1bg"></div>
		<div id="SITE_HEADERinlineContent" class="hc1inlineContent">
			<div class="c4" id="Cntnr8-1b31"
				style="left: 281px; width: 413px; position: absolute; top: 60px; height: 75px;">
				<div id="Cntnr8-1b31bg" class="c4bg"></div>
				<div id="Cntnr8-1b31inlineContent" class="c4inlineContent">
					<div class="txtNew" id="WRchTxt3-ceb"	style="left: 68px; width: 280px; position: absolute; top: 10px;">
						<h1 class="font_0" style="text-align: center;">
							<a [routerLink]="['/theamscards']">Forum</a>
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
					<app-login></app-login>
	
