<mat-card>
	  <mat-card-header>
	    <div mat-card-avatar class="example-header-image"><img mat-card-image width="60" height="70" src="{{theam.author_avator}}"></div>
	    <mat-card-title>{{theam.title}}</mat-card-title>
	    <mat-card-subtitle>Created by {{theam.author}} is {{theam.author_role}}</mat-card-subtitle>
	    <mat-card-subtitle><b>Watchers: {{theam.watchers}}</b><b> Comments: {{theam.comments}}</b></mat-card-subtitle>
	  </mat-card-header>

	  <mat-card-content>
	      {{theam.body}}
	  </mat-card-content>
	  <mat-card-actions>
	    <button mat-button [routerLink]="[returnUrl]" [queryParams]="{id:theam.id}"><mat-icon aria-label="Return">assignment_return</mat-icon></button>
	  </mat-card-actions>
</mat-card>


<app-commentslist [discussionid]="theam.id"></app-commentslist>
