<mat-card class="example-card">
	  <mat-card-header>
	    <div mat-card-avatar class="example-header-image"></div>
	    <mat-card-title>{{theam.title}}-{{theam.id}}</mat-card-title>
	  </mat-card-header>

	  <mat-card-content>
	    <p>
	      {{theam.body}}
	    </p>
	  </mat-card-content>
	  <mat-card-actions>
	    <button mat-button><mat-icon aria-label="Like comment">favorite</mat-icon></button>
	    <button mat-button><mat-icon aria-label="Share">share</mat-icon></button>
	    <button mat-button [routerLink]="[returnUrl]" [queryParams]="{id:theam.id}"><mat-icon aria-label="Return">assignment_return</mat-icon></button>
	  </mat-card-actions>
</mat-card>
<app-commentslist [discussionid]="theam.id"></app-commentslist>
