<mat-grid-list cols="3" rowHeight="500px"> <mat-grid-tile
	*ngFor="let theam of Theams"> <mat-card
	class="example-card" id="theam-card-{{theam.id}}"> <mat-card-header
	[routerLink]="['/theamslist']" [queryParams]="{id: theam.id}">
<mat-card-title class="sb-description">
<h3 style="color: #20303c;">{{theam.title}}</h3>
</mat-card-title> <mat-card-subtitle>{{theam.text}}</mat-card-subtitle> </mat-card-header> <img
	mat-card-image src="{{theam.img}}" alt="{{theam.text}}" width="253"
	height="253"> <!-- mat-card-content>
	    <p>
	      {{theam.text}}
	    </p>
	  </mat-card-content--> <mat-card-actions>
<button *ngIf="isAdmin"  mat-button (click)="deleteTheams(theam.id)">
	<mat-icon matListIcon>delete_forever</mat-icon>
</button>
</mat-card-actions> 
</mat-card> 
</mat-grid-tile> 
<mat-grid-tile> 
<mat-card  *ngIf="isAdmin" class="example-card">

<form name="form" (ngSubmit)="f.form.valid && createNewTheam()" 	#f="ngForm" novalidate>
	<mat-card-header> <mat-card-title
		class="sb-description">
	<h3 style="color: #20303c;">Add theam</h3>
	</mat-card-title> <mat-card-subtitle>Add new theam</mat-card-subtitle> </mat-card-header>

	<mat-card-content>
	<div class="form-group"
		[ngClass]="{ 'has-error': f.submitted && !title.valid }">
		<label class="InnerInputLabel" for="TheamName">Theam Title</label> <input
			placeholder="Discussion Title" aria-label="Theam Name" type="text"
			class="form-control" name="TheamTitle" [(ngModel)]="model.title"
			#title="ngModel" required />
		<div *ngIf="f.submitted && !title.valid" class="help-block">Discussion
			title required</div>
	</div>
	<div class="form-group"
		[ngClass]="{ 'has-error': f.submitted && !text.valid }">
		<label class="InnerInputLabel" for="DiscussionDescription">Theam
			Description</label>
		<textarea placeholder="Discussion Description"
			aria-label="Discussion Description" type="text" class="form-control"
			name="TheamText" [(ngModel)]="model.text" #text="ngModel" required></textarea>
		<div *ngIf="f.submitted && !text.valid" class="help-block">Theam
			Text required</div>
	</div>
	<div class="form-group"
		[ngClass]="{ 'has-error': f.submitted && !img.valid }">
		<label class="InnerInputLabel" for="DiscussionDescription">Theam
			Image</label>
		<textarea placeholder="Discussion Description"
			aria-label="Discussion Description" type="text" class="form-control"
			name="TheamImg" [(ngModel)]="model.img" #img="ngModel" required></textarea>
		<div *ngIf="f.submitted && !img.valid" class="help-block">Theam
			Image required</div>
	</div>



	</mat-card-content>
	<mat-card-actions>
	<div class="form-group">
		<button [disabled]="loading" id="memberLoginDialogokButton"
			class="s_ucNUmemberLoginDialogSkinNewokButton">
			<div id="memberLoginDialogok" data-align="center"
				data-disabled="false" data-should-use-flex="true" class="b1"
				data-state="desktop shouldUseFlex center"
				style="position: relative; height: 100%; width: 100%;">
				<div id="memberLoginDialogoklink" class="g-transparent-a b1link">
					<span id="memberLoginDialogoklabel" class="b1label">Create
						New Theam</span>
				</div>
			</div>
		</button>
		<img *ngIf="loading"
			src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
	</div>
	</mat-card-actions>
</form>
</mat-card> </mat-grid-tile> </mat-grid-list>
