mat-list-item{
	background: #fff;
    color: rgba(0,0,0,.87);
}

.mat-list-item:not([class*=mat-elevation-z]) {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

mat-list-item {
    background: #fff;
    border-radius: 3px;
    margin: 2rem;
    border: 1px;
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 24px;
    border-radius: 2px;
}

.mat-list-item  {
    background: #fff;
    color: rgba(0,0,0,.87);
}

.mat-list-item  {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}



.post_content {
    padding: 9px 10px 5px 10px;

}
.tfixed {
    word-wrap: break-word;
}
.post .post_head {
    font-size: 11px;
    padding-bottom: 4px;
    border-bottom: 1px dotted #ddd;
    margin-bottom: 4px;
}
.post_body {
    font-size: 14px;
    padding: 12px 0;
}
.post_content .signature {
    margin-top: 5px;
    border-top: 1px dotted #ddd;
    padding: 10px 0 4px 0;
}
.post .post_meta {
    margin: 4px 0;
    font-size: 11px;
    color: #999;
}
.post .post_author div.author_avatar {
    float: left;
    margin-right: 3px;
}
.post .post_author .buddy_status {
    vertical-align: middle;
    margin-top: -4px;
}
.post .post_author {
    border-bottom: 1px solid #ccc;
    border-top: 2px solid #ccc;
    background: #f5f5f5;
    padding: 5px;
    overflow: hidden;
}
.post .post_author div.author_statistics {
    float: right;
    font-size: 11px;
    padding: 3px 10px 3px 5px;
    color: #666;
    line-height: 1.3;
}
.post {
    overflow: hidden;
    border-radius: 7px;
    background: #fff;
	width: 100%;
	margin: auto auto;
	border: 1px solid #ccc;
	padding: 1px;
}
.postbit_buttons > a:link, .postbit_buttons > a:hover, .postbit_buttons > a:visited, .postbit_buttons > a:active {
    display: inline-block;
    padding: 2px 5px;
    margin: 2px;
    font-size: 11px;
    background: #eee url(/assets/images/buttons_bg.png) repeat-x;
    border: 1px solid #ccc;
    color: #555;
}
.postbit_buttons a span {
    padding-left: 20px;
    display: inline-block;
    height: 16px;
    background-image: url(/assets/images/buttons_sprite.png);
    background-repeat: no-repeat;
}
.postbit_buttons a.postbit_quote span {
    background-position: 0 -100px;
}
.float_right {
    float: right;
}
.float_left {
    float: left;
}
.postbit_buttons a.postbit_website span {
    background-position: 0 -60px;
}

.post_controls {
    clear: both;
    background: #f5f5f5;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    overflow: hidden;
}
.post .post_author div.author_information {
    float: left;
    padding: 6px 8px;
}
.post .post_author div.author_statistics {
    float: right;
    font-size: 11px;
    padding: 3px 10px 3px 5px;
    color: #666;
    line-height: 1.3;
}

.btn-delete-comment{
	float:right !important;
}