<div *ngIf="selectedUser" style="position: fixed;visibility: visible;z-index: 200;left:{{(formLeft | number:0)*1}}px;top:{{formTop}}px">
<h2>{{ selectedUser.firstname | uppercase }}  {{ selectedUser.lastname | uppercase }} Details</h2>
<!-- <h2>{{ selectedUser.username | uppercase}} Details</h2> -->
<!-- <div><span>id: </span>{{selectedUser.id}}</div> -->
        <div class="form-group">
        	<label class="InnerInputLabel" for="password">Avator</label>
	        <img width="100" height="100" src="{{selectedUser.avator}}" >
	        <input type="hidden" class="form-control" name="avator" [(ngModel)]="selectedUser.avator" #avator="ngModel"  />
			<input class="user-form-img-input" type="file" accept="image/*" (change)="changeListener($event)">
		</div>
<div class="user-form-div">
  <label>First name:
    <input [(ngModel)]="selectedUser.firstname" placeholder="First Name">
  </label>
</div><div class="user-form-div">  <label>Second name:
    <input [(ngModel)]="selectedUser.lastname" placeholder="Last Name">
  </label>
</div>
<div class="user-form-div">  <label>User name:
    <input [(ngModel)]="selectedUser.username" placeholder="Last Name">
  </label>
</div>
<div class="user-form-div">  <label>Password:
    <input [(ngModel)]="selectedUser.password" placeholder="Last Name">
  </label>
</div>
<div class="user-form-div">  <label>Role:
    <input [(ngModel)]="selectedUser.role" placeholder="Role">
    <select [(ngModel)]="selectedUser.role">
    	<option value="ADMIN">Admin</option>
    	<option value="USER">User</option>
    </select>
  </label>
</div>
<div>
<div class="alert-message" *ngIf="showAlertMessage">{{alertText}}</div>
<button (click)="updateUser()" class="user-form-btn">Update</button>
<button (click)="onNoClick()" class="user-form-btn">Close</button></div>
</div>