/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

form div.form-group  textarea {
	border: 1px solid grey;
	border-radius: 2px;
	margin-top: 5px;
	display: block;
	height: 40px;
	padding-left:3px;
	width:100%;
	border:0;
}

._3-a6 .UFIRow .UFIImageBlockContent {
    padding-left: 6px;
}
.UFIRow .UFIImageBlockContent {
    margin: 0;
    padding-left: 8px;
}
.UFIMentionsInputWrap, .UFICommentContainer, .UFIInputContainer {
    position: relative;
}

._3-a6._4eno .UFIAddComment .UFIAddCommentInput._1osb, ._4d3w._u77 .fbPhotosSnowboxFeedbackInput .UFIAddComment .UFIAddCommentInput._1osb {
    font-size: 13px;
    line-height: 16px;
}
._5vsj._3-a6._4eno .UFIAddComment .UFIAddCommentInput, ._5vsj._3-a6._4eno .UFIAddComment .UFIAddCommentInput._1osc {
    padding-bottom: 8px;
    padding-top: 8px;
}
.UFIAddComment .UFIAddCommentInput {
    display: block;
    height: 20px;
}

._5vsj .UFIAddComment .UFIAddCommentInput, ._5vsj .UFIAddComment .UFIAddCommentInput._1osc {
    min-height: 32px;
    padding-bottom: 7px;
    padding-top: 7px;
}
._5pcb._dp7 ._5vsj, ._5pcb._dp7 ._5vsj .fsm, ._5pcb._dp7 ._5vsi, ._5pcb._dp7 ._5v47, ._5pcb._4j3f .UFIAddCommentInput {
    font-size: 13px;
}

._613v ._2xww {
    background-color: transparent !important;
    line-height: 1.5;
}
._fmi ._2xww {
    border: 0 !important;
}
body ._1osb {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    padding-left: 5px;
    padding-right: 5px;
}
._5yk1 {
    background: #fff;
    border: 1px solid #bdc7d8;
    box-sizing: border-box;
    cursor: text;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    padding: 3px;
}
._3-a6._1blz ._fmi {
    border-color: #ced0d4;
}
._fmi ._5yk2 {
    padding-right: 0 !important;
}
._5rp7 {
    position: relative;
}

._5rp7, ._5rpb, ._5rpu {
    height: inherit;
    text-align: initial;
}
._5rpb {
    background-color: rgba(255, 255, 255, 0);
    border-left: .1px solid transparent;
    position: relative;
    z-index: 1;
}

.accessible_elem {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

h4, h5, h6 {
    font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
    color: #1d2129;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
._5rpu[contenteditable="true"] {
    -webkit-user-modify: read-write-plaintext-only;
}


._1mj {
    direction: ltr;
    text-align: left;
}

._1mf {
    position: relative;
    white-space: pre-wrap;
}



.UFIMentionsInputWrap, .UFICommentContainer, .UFIInputContainer {
    position: relative;
}
._613v {
    border-radius: 16px;
    padding-left: 6px;
}
._fmi {
    align-items: center;
    background-color: #fff;
    border: 1px solid #dddfe2;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

._fmi ._2xwx {
    flex-grow: 1;
    min-width: 0;
    word-break: break-word;
}
._1osa {
    left: -99999px;
    opacity: 0;
    position: absolute;
}
._3-a6._4eno .UFIAddComment .UFIAddCommentInput ._1osb, ._4d3w._u77 .fbPhotosSnowboxFeedbackInput .UFIAddComment .UFIAddCommentInput ._1osb {
    font-size: 13px;
    line-height: 16px;
}
._5vsj._3-a6._4eno .UFIAddComment .UFIAddCommentInput, ._5vsj._3-a6._4eno .UFIAddComment .UFIAddCommentInput._1osc {
    padding-bottom: 8px;
    padding-top: 8px;
}

._5vsj .UFIAddComment .UFIAddCommentInput, ._5vsj .UFIAddComment .UFIAddCommentInput._1osc {
    min-height: 32px;
    padding-bottom: 7px;
    padding-top: 7px;
}
._5pcb._dp7 ._5vsj, ._5pcb._dp7 ._5vsj .fsm, ._5pcb._dp7 ._5vsi, ._5pcb._dp7 ._5v47, ._5pcb._4j3f .UFIAddCommentInput {
    font-size: 13px;
}
.UFIAddComment .UFIAddCommentInput {
    display: block;
    height: 20px;
}
._613v ._2xww {
    background-color: transparent !important;
    line-height: 1.5;
}
._fmi ._2xww {
    border: 0 !important;
}
body ._1osb {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    padding-left: 5px;
    padding-right: 5px;
}
._5yk1 {
    background: #fff;
    border: 1px solid #bdc7d8;
    box-sizing: border-box;
    cursor: text;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    padding: 3px;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
._5vsj ._4204, ._5vsj .UFIAddComment+._48pi, ._5vsj .UFIAddComment+._j6a ._48pi, ._5vsj .UFIRow.UFIPagerRow+.UFIRow._48pi, ._5vsj ._11c1+.UFIRow._4204._48pi {
    border-top: 0;
}


._5vsj .UFIComment._48pi {
    padding-top: 8px;
}
._5vsj .UFIPagerRow+.UFIComment, ._5vsj .UFIPagerRow+.UFIAddComment {
    padding-top: 0;
}

._5vsj .UFIShareRow, ._5vsj .UFILikeSentence, ._5vsj ._48pi {
    border-top: 1px solid #e1e2e3;
}
._5vsj .UFIRow {
    margin: 0 12px;
    padding: 4px 0;
    position: relative;
}
.UFIRow {
    margin-top: 1px;
    padding: 4px;
    word-wrap: break-word;
}

div {
    display: block;
}
._-kb div {
    font-family: inherit;
}


.UFIAddCommentInput {
    font-size: 13px;
}
._-kb div {
    font-family: inherit;
}
._5pat {
    position: relative;
    word-wrap: break-word;
}
._-kb div {
    font-family: inherit;
}
#contentArea {
    margin-right: -1px;
    outline: none;
    padding-left: 1px;
    word-wrap: break-word;
}
._-kb div {
    font-family: inherit;
}

._5vb_, ._5vb_ #contentCol {
    background-color: #e9ebee;
    color: #1d2129;
}
._-kb div {
    font-family: inherit;
}
._5vb_, ._5vb_ #contentCol {
    background-color: #e9ebee;
    color: #1d2129;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1d2129;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}
._5wj- {
    text-align: right;
}
._3-a6._65_9 .UFICommentActorAndBody, ._o0o ._3-a6._65_9 .UFICommentActorAndBody {
    background-color: #eff1f3;
}

._3-a6._1blz .UFICommentActorAndBody, ._o0o ._3-a6._1blz .UFICommentActorAndBody {
    background-color: #fff;
}
._3-a6._4eno .UFICommentActorAndBody {
    background-color: #eff1f3;
    font-size: 13px;
    padding: 8px 10px;
}
._3-a6 .UFICommentActorAndBody {
    background-color: #ebedf0;
    border-radius: 18px;
    display: block;
    line-height: 16px;
    padding: 9px 12px;
}


._3-a6 ._10la._10lg {
    display: inline-block;
    position: relative;
}

._3-a6 ._26f8>._10la, ._3-a6 ._26f8>.UFICommentActorAndBody {
    min-width: 0;
    word-wrap: break-word;
}
._3-a6 ._10la {
    align-items: flex-end;
    display: flex;
}
._3-a6 ._26f8 {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

._3-a6 .UFIRow .UFIImageBlockContent {
    padding-left: 6px;
}

.UFIRow .UFIImageBlockContent {
    margin: 0;
    padding-left: 8px;
}
._42ef {
    overflow: hidden;
}


.UFICommentActorAndBody {
    background-color: #ebedf0;
    border-radius: 18px;
    display: block;
    line-height: 16px;
    padding: 9px 12px;
    background-color: #eff1f3;
    font-size: 13px;
    padding: 8px 10px;    
}

.UFICommentActorName {
    font-weight: 600;
    white-space: nowrap;
    white-space: normal;
}
.UFIActorImage {
    border-radius: 50%;
    overflow: hidden;
}
.UFIRow {
    margin-top: 1px;
    padding: 4px;
    word-wrap: break-word;
}
.img {
    display: block;
}

._54ru {
    height: 32px;
    width: 32px;
}
img {
    border: 0;
}
._-kb a {
    font-family: inherit;
}
a {
    color: #365899;
    cursor: pointer;
    text-decoration: none;
}


._-kb a {
    font-family: inherit;
}
._605a ._5v9k .UFIComment .UFIImageBlockImage.UFICommentAuthorWithPresence {
    overflow: inherit;
}
._605a ._5v9k .UFIAddComment .UFIImageBlockImage, ._605a ._5v9k .UFIComment .UFIImageBlockImage {
    border-radius: 50%;
    overflow: hidden;
}
._5v9k .UFIAddComment .UFIImageBlockImage, ._5v9k .UFIComment .UFIImageBlockImage {
    position: relative;
}
.UFIRow .UFIImageBlockImage {
    margin: 0;
}

.UFICommentAuthorWithPresence {
    position: relative;
}
._8s {
    margin-right: 8px;
}
._8o, ._8o .img {
    display: block;
}
a {
    color: #365899;
    cursor: pointer;
    text-decoration: none;
}

._-kb div {
    font-family: inherit;
}
.lfloat {
    float: left;
}

._ohe {
    float: left;
}

._-kb div {
    font-family: inherit;
}

.clearfix {
    zoom: 1;
}

._-kb div {
    font-family: inherit;
}

._-kb div {
    font-family: inherit;
}
._3b-9 {
    position: relative;
}


