.hold-right {
    position: absolute;
    top: 5px;
    padding:5px;
    right: 10px;    
}
._2ftM2._3Hath {
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
}




.button-border-color {
    border-color: #30BDFF;
}

.button-border-color {
    border-color: #27a456;
}

.button-secondary-text-color {
    color: #30BDFF;
}

.button-secondary-text-color {
    color: #27a456;
}

.button-border-radius{
		border: 2px solid;
	    border-radius: 5px;
}
